# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# VSCode / PyCharm settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Sensitive credentials
credentials.py

# Test output
*.log
*.db
screenshots/
